<form [formGroup]="featureForm" (change)="submit()" (click)="submit()">
  <div
    class="feature-form offset-md-2"
    id="feature-form"
    formArrayName="features"
  >
    <div
      *ngFor="let watch of featureForms.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="row mt-3 mb-4">
        <div class="col-sm-12">
          <h4 class="discrete-prompt-header">Features</h4>
        </div>
      </div>

      <div class="row form-group">
        <label for="mvm" class="col-sm-2 form-check-label">mvm</label>
        <div class="col-sm-10">
          <input
            type="checkbox"
            class="form-check-input"
            id="mvm"
            formControlName="mvm"
          />
          <span class="checkbox-placeholder"
            >Mean of vector magnitude. Sample mean of the VM.
          </span>
        </div>
      </div>

      <div class="row form-group">
        <label for="svdm" class="col-sm-2 form-check-label">svdm</label>
        <div class="col-sm-10">
          <input
            type="checkbox"
            class="form-check-input"
            id="svdm"
            formControlName="svdm"
          />
          <span class="checkbox-placeholder"
            >SD of vector magnitude. Standard deviation of VM.</span
          >
        </div>
      </div>
      <div class="row form-group">
        <label for="mangle" class="col-sm-2 form-check-label">mangle</label>
        <div class="col-sm-10">
          <input
            type="checkbox"
            class="form-check-input"
            id="mangle"
            formControlName="mangle"
          />
          <span class="checkbox-placeholder"
            >Mean angle of acceleration relative to vertical on the device.
            Sample mean of the angle between x axis and VM.
          </span>
        </div>
      </div>
      <div class="row form-group">
        <label for="sdangle" class="col-sm-2 form-check-label">sdangle</label>
        <div class="col-sm-10">
          <input
            type="checkbox"
            class="form-check-input"
            id="sdangle"
            formControlName="sdangle"
          />
          <span class="checkbox-placeholder"
            >SD of the angle of acceleration relative to vertical on the device.
            Sample standard deviation of the angles.</span
          >
        </div>
      </div>

      <div class="row form-group">
        <label for="df" class="col-sm-2 form-check-label">df</label>
        <div class="col-sm-10">
          <input
            type="checkbox"
            class="form-check-input"
            id="df"
            formControlName="df"
          />
          <span class="checkbox-placeholder"
            >Dominant frequency of vm. Frequency corresponding to the largest
            modulus.</span
          >
        </div>
      </div>

      <div class="row form-group">
        <label for="fpdf" class="col-sm-2 form-check-label">fpdf</label>
        <div class="col-sm-10">
          <input
            type="checkbox"
            class="form-check-input"
            id="fpdf"
            formControlName="fpdf"
          />
          <span class="checkbox-placeholder"
            >Fraction of power in vm at dominant frequency. Modulus of the
            dominant frequency/sum of moduli at each frequency.</span
          >
        </div>
      </div>

      <div class="row form-group">
        <label for="p625" class="col-sm-2 form-check-label">p625</label>
        <div class="col-sm-10">
          <input
            type="checkbox"
            class="form-check-input"
            id="p625"
            formControlName="p625"
          />
          <span class="checkbox-placeholder"
            >Percentage of the power of the vm that is in 0.6-2.5 Hz. Sum of
            moduli corresponding to frequency in this range divided by sum of
            moduli of all frequencies.</span
          >
        </div>
      </div>
      <div class="row form-group">
        <label for="gps" class="col-sm-2 form-check-label">GPS</label>
        <div class="col-sm-10">
          <input
            type="checkbox"
            class="form-check-input"
            id="gps"
            formControlName="gps"
          />
          <span class="checkbox-placeholder">Collect location information</span>
        </div>
      </div>
    </div>
  </div>
</form>
