<form [formGroup]="discreteForm" (change)="submit()" (click)="submit()">
  <div
    class="discrete-prompt-form offset-md-2"
    id="discrete-prompt-form"
    formArrayName="discretePrompts"
  >
    <div
      *ngFor="let discretePrompt of discretePromptForms.controls; let i = index"
      [formGroupName]="i"
    >
      <div class="row mt-3 mb-4">
        <div class="col-sm-12">
          <h4 class="discrete-prompt-header">Discrete Prompt List</h4>
        </div>
      </div>
      <div class="form-group row">
        <label for="longUIquestion" class="col-sm-2 col-form-label"
          >Long UI Question</label
        >
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            id="longUIquestion"
            placeholder="Question"
            formControlName="longUIquestion"
          />
        </div>
      </div>

      <div class="form-group row">
        <label for="type" class="col-sm-2 col-form-label">Type Of</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            id="type"
            placeholder="Range or Discreet"
            formControlName="type"
            [disabled]="true"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="question" class="col-sm-2 col-form-label">Question</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            id="question"
            placeholder="A short form of question to be displayed on watch"
            formControlName="question"
          />
        </div>
      </div>
      <div class="row" formArrayName="values">
        <label class="col-sm-2 col-form-label">Values</label>
        <div
          class="form-row"
          *ngFor="
            let value of discretePrompt.get('values')['controls'];
            let iy = index
          "
        >
          <div class="col">
            <div [formGroupName]="iy">
              <input
                type="text"
                class="form-control"
                id="values"
                placeholder="Enter a value"
                formControlName="value"
              />
            </div>
          </div>
          <div class="col">
            <button
              class="btn btn-outline-primary"
              (click)="deleteValue(i, iy)"
            >
              Delete Value
            </button>
          </div>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-outline-primary" (click)="addValue(i)">
            Add Value
          </button>
        </div>
      </div>
      <div class="row"></div>
      <!-- <div class="form-group row">
        <label for="values" class="col-sm-2 col-form-label">Values</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            id="values"
            placeholder="Enter a list of options"
            formControlName="values"
          />
        </div>
      </div> -->
      <!-- <div class="form-group row">
        <label for="time" class="col-sm-2 col-form-label">Time</label>
        <div class="col-sm-6">
          <input
            type="text"
            class="form-control"
            id="time"
            placeholder="List of times in a day(24 hours format) when to prompt the question"
            formControlName="time"
          />
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm-2">
          <button
            class="btn btn-outline-danger delete-discrete mb-3"
            (click)="deleteDiscretePrompt(i)"
          >
            Delete Discrete Prompt
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <button
          class="btn btn-outline-success add-discrete"
          (click)="addDiscretePrompt()"
        >
          Add Discrete Prompt
        </button>
      </div>
    </div>
  </div>
</form>
