button.calendar,
button.calendar:active {
  width: 2.75rem;
  background-image: url("../../../assets/images/icons8-calendar.svg");
  // background-image: url("../../assets/images/icons8-calendar.svg") !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}
