<div class="container">
  <div class="row">
    <app-loader *ngIf="showSpinner"></app-loader>
    <table class="table" *ngIf="!showSpinner">
      <thead>
        <tr>
          <th scope="col">Participant Id</th>
          <th scope="col">Campaign Id</th>
          <th scope="col">Watch Id</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Numeric Prompts</th>
          <th scope="col">Features</th>
          <th scope="col">Discrete Prompts</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of watchstatus">
          <td>{{ item.participantid }}</td>
          <td>{{ item.campaignid }}</td>
          <td>{{ item.watchid }}</td>
          <td>{{ item.starttime }}</td>
          <td>{{ item.endtime }}</td>
          <td>
            <ngbd-modal-component
              [watchId]="item.watchid"
              [starttime]="item.starttime"
              [endtime]="item.endtime"
              [category]="'Numeric Prompts'"
              [npQuestions]="item.campaign.NumericPrompts"
            ></ngbd-modal-component>
          </td>
          <td>
            <ngbd-modal-component
              [watchId]="item.watchid"
              [starttime]="item.starttime"
              [endtime]="item.endtime"
              [category]="'Features'"
              [featureQuestions]="item.campaign.Features"
            ></ngbd-modal-component>
          </td>
          <td>
            <ngbd-modal-component
              [watchId]="item.watchid"
              [starttime]="item.starttime"
              [endtime]="item.endtime"
              [category]="'Discrete Prompts'"
              [dpQuestions]="item.campaign.DiscreetPrompts"
            ></ngbd-modal-component>
          </td>
          <!-- 1 4 91 -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
