<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ROAMM Web Portal</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="isAuthenticated"
      >
        <a class="nav-link" [routerLink]="['/']"
          >Watch Status <span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="isAuthenticated"
      >
        <a class="nav-link" [routerLink]="['create-campaign']"
          >Create Campaign <span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="isAuthenticated"
      >
        <a class="nav-link" [routerLink]="['Participant']"
          >Register Participant <span class="sr-only">(current)</span></a
        >
      </li>
      <li
        class="nav-item"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngIf="isAuthenticated"
      >
        <a class="nav-link" [routerLink]="['ConfigureWatch']"
          >Configure Watch <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="auth"
          >Login <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="auth" (click)="onLogout()"
          >Logout <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
